body {
  // background: skyblue;
}

h1 {
  font-family: monospace;
}

.line-chart {
  border: 1px solid #aaa;
}

$axisLineColor: #e5e5e5;
$axisTextColor: #74797f;
$axisLineColorSelected: #b8b8b8;



// $categoryColor: #9686e9;

.line {
  fill: none;
  stroke-width: 2px;
}

.grid {
  line {
    stroke: $axisLineColor;
    // stroke-opacity: 0.7;
    // shape-rendering: crispEdges;
  }
  path {
    stroke-width: 0;
  }
  text {
    fill: $axisTextColor;
    font-size: 11px;
  }
  .tick:nth-child(2n+1) {
    line {
      stroke-dasharray: 3, 3;
    }
  }
}

.domain-x {
  line, path {
    stroke: #fff;
    // stroke: $axisLineColor;
  }
  line {
    stroke: $axisLineColor;
    opacity: 0.44;
  }
  text {
    fill: $axisTextColor;
    font-size: 11px;
  }
}

.focus-line {
  stroke: $axisLineColorSelected;
  stroke-width: 1px;
  stroke-dasharray: 3,3;
}
.dot-selected {
  
  // fill: red;

  // box-shadow: 0 0 5px 0 purple;
}
.line-chart-tooltip {
  display: block;
  min-width: 168px;
  padding: 12px 16px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;

  h6 {
    margin: 0 0 12px 0;
    font-size: 14px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: #74797f;
  }
  table, th, td {
    border: none;
    // vertical-align: middle;
    vertical-align: top;
  }
  th {
    padding-right: 0.5em;
    text-align: left;
    font-weight: normal;
  }
  td {
    text-align: right;
    // color: #9686e9;
    span {
      vertical-align: middle;
    }
  }
}

.chart-tooltip-circle {
  display: inline-block;
  width: 0.75em;
  height: 0.8em;
  border-radius: 1em;
  // vertical-align: top;
}

.overlay {
  fill: none;
  pointer-events: all;
}

@import './chart-color.scss';